<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="note">
      <h2 data-cy="noteDetailsHeading"><span jhiTranslate="powerTrainerApp.note.detail.title">Note</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ note.id }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.note.uuid">Uuid</span></dt>
        <dd>
          <span>{{ note.uuid }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.note.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'powerTrainerApp.NoteType.' + note.type }}">{{ note.type }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.note.url">Url</span></dt>
        <dd>
          <span>{{ note.url }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.note.image">Image</span></dt>
        <dd>
          <div *ngIf="note.image">
            <a (click)="openFile(note.image, note.imageContentType)">
              <img [src]="'data:' + note.imageContentType + ';base64,' + note.image" style="max-width: 100%" alt="note image" />
            </a>
            {{ note.imageContentType }}, {{ byteSize(note.image) }}
          </div>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.note.description">Description</span></dt>
        <dd>
          <span>{{ note.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/note', note.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
