<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="measureValue">
      <h2 data-cy="measureValueDetailsHeading"><span jhiTranslate="powerTrainerApp.measureValue.detail.title">Measure Value</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ measureValue.id }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.measureValue.uuid">Uuid</span></dt>
        <dd>
          <span>{{ measureValue.uuid }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.measureValue.date">Date</span></dt>
        <dd>
          <span>{{ measureValue.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.measureValue.value">Value</span></dt>
        <dd>
          <span>{{ measureValue.value }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.measureValue.note">Note</span></dt>
        <dd>
          <span>{{ measureValue.note }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/measure-value', measureValue.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
