<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="misurationType">
      <h2 data-cy="misurationTypeDetailsHeading">
        <span jhiTranslate="powerTrainerApp.misurationType.detail.title">Misuration Type</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ misurationType.id }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.misurationType.uuid">Uuid</span></dt>
        <dd>
          <span>{{ misurationType.uuid }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.misurationType.name">Name</span></dt>
        <dd>
          <span>{{ misurationType.name }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.misurationType.image">Image</span></dt>
        <dd>
          <div *ngIf="misurationType.image">
            <a (click)="openFile(misurationType.image, misurationType.imageContentType)">
              <img
                [src]="'data:' + misurationType.imageContentType + ';base64,' + misurationType.image"
                style="max-width: 100%"
                alt="misurationType image"
              />
            </a>
            {{ misurationType.imageContentType }}, {{ byteSize(misurationType.image) }}
          </div>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.misurationType.description">Description</span></dt>
        <dd>
          <span>{{ misurationType.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/misuration-type', misurationType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
