<div>
  <h2 id="page-heading" data-cy="MisurationHeading">
    <span jhiTranslate="powerTrainerApp.misuration.home.title">Misurations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="powerTrainerApp.misuration.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-misuration"
        [routerLink]="['/misuration/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="powerTrainerApp.misuration.home.createLabel"> Create a new Misuration </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="misurations?.length === 0">
    <span jhiTranslate="powerTrainerApp.misuration.home.notFound">No misurations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="misurations && misurations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="uuid">
            <span jhiTranslate="powerTrainerApp.misuration.uuid">Uuid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="powerTrainerApp.misuration.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="value">
            <span jhiTranslate="powerTrainerApp.misuration.value">Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="image">
            <span jhiTranslate="powerTrainerApp.misuration.image">Image</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="note">
            <span jhiTranslate="powerTrainerApp.misuration.note">Note</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="calendar.id">
            <span jhiTranslate="powerTrainerApp.misuration.calendar">Calendar</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="misurationType.id">
            <span jhiTranslate="powerTrainerApp.misuration.misurationType">Misuration Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let misuration of misurations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/misuration', misuration.id, 'view']">{{ misuration.id }}</a>
          </td>
          <td>{{ misuration.uuid }}</td>
          <td>{{ misuration.date | formatMediumDatetime }}</td>
          <td>{{ misuration.value }}</td>
          <td>
            <a *ngIf="misuration.image" (click)="openFile(misuration.image, misuration.imageContentType)">
              <img
                [src]="'data:' + misuration.imageContentType + ';base64,' + misuration.image"
                style="max-height: 30px"
                alt="misuration image"
              />
            </a>
            <span *ngIf="misuration.image">{{ misuration.imageContentType }}, {{ byteSize(misuration.image) }}</span>
          </td>
          <td>{{ misuration.note }}</td>
          <td>
            <div *ngIf="misuration.calendar">
              <a [routerLink]="['/calendar', misuration.calendar?.id, 'view']">{{ misuration.calendar?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="misuration.misurationType">
              <a [routerLink]="['/misuration-type', misuration.misurationType?.id, 'view']">{{ misuration.misurationType?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/misuration', misuration.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/misuration', misuration.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(misuration)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="misurations && misurations.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
