<div>
  <h2 id="page-heading" data-cy="WorkoutSheetHeading">
    <span jhiTranslate="powerTrainerApp.workoutSheet.home.title">Workout Sheets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="powerTrainerApp.workoutSheet.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-workout-sheet"
        [routerLink]="['/workout-sheet/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="powerTrainerApp.workoutSheet.home.createLabel"> Create a new Workout Sheet </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="workoutSheets?.length === 0">
    <span jhiTranslate="powerTrainerApp.workoutSheet.home.notFound">No workoutSheets found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="workoutSheets && workoutSheets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="uuid">
            <span jhiTranslate="powerTrainerApp.workoutSheet.uuid">Uuid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="powerTrainerApp.workoutSheet.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="image">
            <span jhiTranslate="powerTrainerApp.workoutSheet.image">Image</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="powerTrainerApp.workoutSheet.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prepareTime">
            <span jhiTranslate="powerTrainerApp.workoutSheet.prepareTime">Prepare Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="coolDownTime">
            <span jhiTranslate="powerTrainerApp.workoutSheet.coolDownTime">Cool Down Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cycles">
            <span jhiTranslate="powerTrainerApp.workoutSheet.cycles">Cycles</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cycleRestTime">
            <span jhiTranslate="powerTrainerApp.workoutSheet.cycleRestTime">Cycle Rest Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="set">
            <span jhiTranslate="powerTrainerApp.workoutSheet.set">Set</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="setRestTime">
            <span jhiTranslate="powerTrainerApp.workoutSheet.setRestTime">Set Rest Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="type">
            <span jhiTranslate="powerTrainerApp.workoutSheet.type">Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workoutSheet of workoutSheets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/workout-sheet', workoutSheet.id, 'view']">{{ workoutSheet.id }}</a>
          </td>
          <td>{{ workoutSheet.uuid }}</td>
          <td>{{ workoutSheet.name }}</td>
          <td>
            <a *ngIf="workoutSheet.image" (click)="openFile(workoutSheet.image, workoutSheet.imageContentType)">
              <img
                [src]="'data:' + workoutSheet.imageContentType + ';base64,' + workoutSheet.image"
                style="max-height: 30px"
                alt="workoutSheet image"
              />
            </a>
            <span *ngIf="workoutSheet.image">{{ workoutSheet.imageContentType }}, {{ byteSize(workoutSheet.image) }}</span>
          </td>
          <td>{{ workoutSheet.description }}</td>
          <td>{{ workoutSheet.prepareTime }}</td>
          <td>{{ workoutSheet.coolDownTime }}</td>
          <td>{{ workoutSheet.cycles }}</td>
          <td>{{ workoutSheet.cycleRestTime }}</td>
          <td>{{ workoutSheet.set }}</td>
          <td>{{ workoutSheet.setRestTime }}</td>
          <td jhiTranslate="{{ 'powerTrainerApp.WorkoutType.' + workoutSheet.type }}">{{ workoutSheet.type }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/workout-sheet', workoutSheet.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/workout-sheet', workoutSheet.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(workoutSheet)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="workoutSheets && workoutSheets.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
