<div>
  <h2 id="page-heading" data-cy="NoteHeading">
    <span jhiTranslate="powerTrainerApp.note.home.title">Notes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="powerTrainerApp.note.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-note"
        [routerLink]="['/note/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="powerTrainerApp.note.home.createLabel"> Create a new Note </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="notes?.length === 0">
    <span jhiTranslate="powerTrainerApp.note.home.notFound">No notes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="notes && notes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="uuid"><span jhiTranslate="powerTrainerApp.note.uuid">Uuid</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="type"><span jhiTranslate="powerTrainerApp.note.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="url"><span jhiTranslate="powerTrainerApp.note.url">Url</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="image">
            <span jhiTranslate="powerTrainerApp.note.image">Image</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="powerTrainerApp.note.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of notes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/note', note.id, 'view']">{{ note.id }}</a>
          </td>
          <td>{{ note.uuid }}</td>
          <td jhiTranslate="{{ 'powerTrainerApp.NoteType.' + note.type }}">{{ note.type }}</td>
          <td>{{ note.url }}</td>
          <td>
            <a *ngIf="note.image" (click)="openFile(note.image, note.imageContentType)">
              <img [src]="'data:' + note.imageContentType + ';base64,' + note.image" style="max-height: 30px" alt="note image" />
            </a>
            <span *ngIf="note.image">{{ note.imageContentType }}, {{ byteSize(note.image) }}</span>
          </td>
          <td>{{ note.description }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/note', note.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/note', note.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(note)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="notes && notes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
