<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="measureType">
      <h2 data-cy="measureTypeDetailsHeading"><span jhiTranslate="powerTrainerApp.measureType.detail.title">Measure Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ measureType.id }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.measureType.uuid">Uuid</span></dt>
        <dd>
          <span>{{ measureType.uuid }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.measureType.name">Name</span></dt>
        <dd>
          <span>{{ measureType.name }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.measureType.image">Image</span></dt>
        <dd>
          <div *ngIf="measureType.image">
            <a (click)="openFile(measureType.image, measureType.imageContentType)">
              <img
                [src]="'data:' + measureType.imageContentType + ';base64,' + measureType.image"
                style="max-width: 100%"
                alt="measureType image"
              />
            </a>
            {{ measureType.imageContentType }}, {{ byteSize(measureType.image) }}
          </div>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.measureType.note">Note</span></dt>
        <dd>
          <span>{{ measureType.note }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/measure-type', measureType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
