<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="misuration">
      <h2 data-cy="misurationDetailsHeading"><span jhiTranslate="powerTrainerApp.misuration.detail.title">Misuration</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ misuration.id }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.misuration.uuid">Uuid</span></dt>
        <dd>
          <span>{{ misuration.uuid }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.misuration.date">Date</span></dt>
        <dd>
          <span>{{ misuration.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.misuration.value">Value</span></dt>
        <dd>
          <span>{{ misuration.value }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.misuration.image">Image</span></dt>
        <dd>
          <div *ngIf="misuration.image">
            <a (click)="openFile(misuration.image, misuration.imageContentType)">
              <img
                [src]="'data:' + misuration.imageContentType + ';base64,' + misuration.image"
                style="max-width: 100%"
                alt="misuration image"
              />
            </a>
            {{ misuration.imageContentType }}, {{ byteSize(misuration.image) }}
          </div>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.misuration.note">Note</span></dt>
        <dd>
          <span>{{ misuration.note }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.misuration.calendar">Calendar</span></dt>
        <dd>
          <div *ngIf="misuration.calendar">
            <a [routerLink]="['/calendar', misuration.calendar?.id, 'view']">{{ misuration.calendar?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.misuration.misurationType">Misuration Type</span></dt>
        <dd>
          <div *ngIf="misuration.misurationType">
            <a [routerLink]="['/misuration-type', misuration.misurationType?.id, 'view']">{{ misuration.misurationType?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/misuration', misuration.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
