<div>
  <h2 id="page-heading" data-cy="WorkoutSheetExerciseHeading">
    <span jhiTranslate="powerTrainerApp.workoutSheetExercise.home.title">Workout Sheet Exercises</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="powerTrainerApp.workoutSheetExercise.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-workout-sheet-exercise"
        [routerLink]="['/workout-sheet-exercise/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="powerTrainerApp.workoutSheetExercise.home.createLabel"> Create a new Workout Sheet Exercise </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="workoutSheetExercises?.length === 0">
    <span jhiTranslate="powerTrainerApp.workoutSheetExercise.home.notFound">No workoutSheetExercises found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="workoutSheetExercises && workoutSheetExercises.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="uuid">
            <span jhiTranslate="powerTrainerApp.workoutSheetExercise.uuid">Uuid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="order">
            <span jhiTranslate="powerTrainerApp.workoutSheetExercise.order">Order</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="repetitions">
            <span jhiTranslate="powerTrainerApp.workoutSheetExercise.repetitions">Repetitions</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="exerciseUuid">
            <span jhiTranslate="powerTrainerApp.workoutSheetExercise.exerciseUuid">Exercise Uuid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="exerciseName">
            <span jhiTranslate="powerTrainerApp.workoutSheetExercise.exerciseName">Exercise Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="exerciseValue">
            <span jhiTranslate="powerTrainerApp.workoutSheetExercise.exerciseValue">Exercise Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="exerciseValueType">
            <span jhiTranslate="powerTrainerApp.workoutSheetExercise.exerciseValueType">Exercise Value Type</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="workoutSheet.id">
            <span jhiTranslate="powerTrainerApp.workoutSheetExercise.workoutSheet">Workout Sheet</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workoutSheetExercise of workoutSheetExercises; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/workout-sheet-exercise', workoutSheetExercise.id, 'view']">{{ workoutSheetExercise.id }}</a>
          </td>
          <td>{{ workoutSheetExercise.uuid }}</td>
          <td>{{ workoutSheetExercise.order }}</td>
          <td>{{ workoutSheetExercise.repetitions }}</td>
          <td>{{ workoutSheetExercise.exerciseUuid }}</td>
          <td>{{ workoutSheetExercise.exerciseName }}</td>
          <td>{{ workoutSheetExercise.exerciseValue }}</td>
          <td jhiTranslate="{{ 'powerTrainerApp.ValueType.' + workoutSheetExercise.exerciseValueType }}">
            {{ workoutSheetExercise.exerciseValueType }}
          </td>
          <td>
            <div *ngIf="workoutSheetExercise.workoutSheet">
              <a [routerLink]="['/workout-sheet', workoutSheetExercise.workoutSheet?.id, 'view']">{{
                workoutSheetExercise.workoutSheet?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/workout-sheet-exercise', workoutSheetExercise.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/workout-sheet-exercise', workoutSheetExercise.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(workoutSheetExercise)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="workoutSheetExercises && workoutSheetExercises.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
