<div>
  <h2 id="page-heading" data-cy="MeasureValueHeading">
    <span jhiTranslate="powerTrainerApp.measureValue.home.title">Measure Values</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="powerTrainerApp.measureValue.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-measure-value"
        [routerLink]="['/measure-value/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="powerTrainerApp.measureValue.home.createLabel"> Create a new Measure Value </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="measureValues?.length === 0">
    <span jhiTranslate="powerTrainerApp.measureValue.home.notFound">No measureValues found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="measureValues && measureValues.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="uuid">
            <span jhiTranslate="powerTrainerApp.measureValue.uuid">Uuid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="powerTrainerApp.measureValue.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="value">
            <span jhiTranslate="powerTrainerApp.measureValue.value">Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="note">
            <span jhiTranslate="powerTrainerApp.measureValue.note">Note</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let measureValue of measureValues; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/measure-value', measureValue.id, 'view']">{{ measureValue.id }}</a>
          </td>
          <td>{{ measureValue.uuid }}</td>
          <td>{{ measureValue.date | formatMediumDatetime }}</td>
          <td>{{ measureValue.value }}</td>
          <td>{{ measureValue.note }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/measure-value', measureValue.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/measure-value', measureValue.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(measureValue)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="measureValues && measureValues.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
