<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="language">
      <h2 data-cy="languageDetailsHeading"><span jhiTranslate="powerTrainerApp.language.detail.title">Language</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ language.id }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.language.code">Code</span></dt>
        <dd>
          <span>{{ language.code }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.language.name">Name</span></dt>
        <dd>
          <span>{{ language.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/language', language.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
