<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-exercise-value-heading"
        data-cy="ExerciseValueCreateUpdateHeading"
        jhiTranslate="powerTrainerApp.exerciseValue.home.createOrEditLabel"
      >
        Create or edit a Exercise Value
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="powerTrainerApp.exerciseValue.uuid" for="field_uuid">Uuid</label>
          <input type="text" class="form-control" name="uuid" id="field_uuid" data-cy="uuid" formControlName="uuid" />
          <div *ngIf="editForm.get('uuid')!.invalid && (editForm.get('uuid')!.dirty || editForm.get('uuid')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('uuid')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="powerTrainerApp.exerciseValue.date" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('date')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="powerTrainerApp.exerciseValue.exerciseUuid" for="field_exerciseUuid"
            >Exercise Uuid</label
          >
          <input
            type="text"
            class="form-control"
            name="exerciseUuid"
            id="field_exerciseUuid"
            data-cy="exerciseUuid"
            formControlName="exerciseUuid"
          />
          <div
            *ngIf="editForm.get('exerciseUuid')!.invalid && (editForm.get('exerciseUuid')!.dirty || editForm.get('exerciseUuid')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('exerciseUuid')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="powerTrainerApp.exerciseValue.exerciseName" for="field_exerciseName"
            >Exercise Name</label
          >
          <input
            type="text"
            class="form-control"
            name="exerciseName"
            id="field_exerciseName"
            data-cy="exerciseName"
            formControlName="exerciseName"
          />
          <div
            *ngIf="editForm.get('exerciseName')!.invalid && (editForm.get('exerciseName')!.dirty || editForm.get('exerciseName')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('exerciseName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="powerTrainerApp.exerciseValue.exerciseValue" for="field_exerciseValue"
            >Exercise Value</label
          >
          <input
            type="number"
            class="form-control"
            name="exerciseValue"
            id="field_exerciseValue"
            data-cy="exerciseValue"
            formControlName="exerciseValue"
          />
          <div
            *ngIf="
              editForm.get('exerciseValue')!.invalid && (editForm.get('exerciseValue')!.dirty || editForm.get('exerciseValue')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('exerciseValue')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('exerciseValue')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="powerTrainerApp.exerciseValue.exerciseValueType" for="field_exerciseValueType"
            >Exercise Value Type</label
          >
          <select
            class="form-control"
            name="exerciseValueType"
            formControlName="exerciseValueType"
            id="field_exerciseValueType"
            data-cy="exerciseValueType"
          >
            <option [ngValue]="null">{{ 'powerTrainerApp.ValueType.null' | translate }}</option>
            <option value="DURATION">{{ 'powerTrainerApp.ValueType.DURATION' | translate }}</option>
            <option value="WEIGHT">{{ 'powerTrainerApp.ValueType.WEIGHT' | translate }}</option>
            <option value="DISTANCE">{{ 'powerTrainerApp.ValueType.DISTANCE' | translate }}</option>
            <option value="REPETITIONS">{{ 'powerTrainerApp.ValueType.REPETITIONS' | translate }}</option>
          </select>
          <div
            *ngIf="
              editForm.get('exerciseValueType')!.invalid &&
              (editForm.get('exerciseValueType')!.dirty || editForm.get('exerciseValueType')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('exerciseValueType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="powerTrainerApp.exerciseValue.calendar" for="field_calendar">Calendar</label>
          <select class="form-control" id="field_calendar" data-cy="calendar" name="calendar" formControlName="calendar">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="calendarOption.id === editForm.get('calendar')!.value?.id ? editForm.get('calendar')!.value : calendarOption"
              *ngFor="let calendarOption of calendarsSharedCollection; trackBy: trackCalendarById"
            >
              {{ calendarOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
