<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="translation">
      <h2 data-cy="translationDetailsHeading"><span jhiTranslate="powerTrainerApp.translation.detail.title">Translation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ translation.id }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.translation.entityType">Entity Type</span></dt>
        <dd>
          <span>{{ translation.entityType }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.translation.entityUuid">Entity Uuid</span></dt>
        <dd>
          <span>{{ translation.entityUuid }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.translation.value">Value</span></dt>
        <dd>
          <span>{{ translation.value }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.translation.entityField">Entity Field</span></dt>
        <dd>
          <span>{{ translation.entityField }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.translation.language">Language</span></dt>
        <dd>
          <div *ngIf="translation.language">
            <a [routerLink]="['/language', translation.language?.id, 'view']">{{ translation.language?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/translation', translation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
