<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="workout">
      <h2 data-cy="workoutDetailsHeading"><span jhiTranslate="powerTrainerApp.workout.detail.title">Workout</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ workout.id }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.workout.uuid">Uuid</span></dt>
        <dd>
          <span>{{ workout.uuid }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.workout.name">Name</span></dt>
        <dd>
          <span>{{ workout.name }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.workout.image">Image</span></dt>
        <dd>
          <div *ngIf="workout.image">
            <a (click)="openFile(workout.image, workout.imageContentType)">
              <img [src]="'data:' + workout.imageContentType + ';base64,' + workout.image" style="max-width: 100%" alt="workout image" />
            </a>
            {{ workout.imageContentType }}, {{ byteSize(workout.image) }}
          </div>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.workout.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'powerTrainerApp.WorkoutType.' + workout.type }}">{{ workout.type }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.workout.executionTime">Execution Time</span></dt>
        <dd>
          <span>{{ workout.executionTime }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.workout.previewTime">Preview Time</span></dt>
        <dd>
          <span>{{ workout.previewTime }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.workout.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'powerTrainerApp.WorkoutStatus.' + workout.status }}">{{ workout.status }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.workout.date">Date</span></dt>
        <dd>
          <span>{{ workout.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.workout.note">Note</span></dt>
        <dd>
          <span>{{ workout.note }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/workout', workout.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
