<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="exercise">
      <h2 data-cy="exerciseDetailsHeading"><span jhiTranslate="powerTrainerApp.exercise.detail.title">Exercise</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ exercise.id }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.exercise.uuid">Uuid</span></dt>
        <dd>
          <span>{{ exercise.uuid }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.exercise.image">Image</span></dt>
        <dd>
          <div *ngIf="exercise.image">
            <a (click)="openFile(exercise.image, exercise.imageContentType)">
              <img [src]="'data:' + exercise.imageContentType + ';base64,' + exercise.image" style="max-width: 100%" alt="exercise image" />
            </a>
            {{ exercise.imageContentType }}, {{ byteSize(exercise.image) }}
          </div>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.exercise.name">Name</span></dt>
        <dd>
          <span>{{ exercise.name }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.exercise.description">Description</span></dt>
        <dd>
          <span>{{ exercise.description }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.exercise.valueType">Value Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'powerTrainerApp.ValueType.' + exercise.valueType }}">{{ exercise.valueType }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.exercise.owner">Owner</span></dt>
        <dd>
          <span>{{ exercise.owner }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.exercise.muscle">Muscle</span></dt>
        <dd>
          <span *ngFor="let muscle of exercise.muscles; let last = last">
            <a [routerLink]="['/muscle', muscle?.id, 'view']">{{ muscle.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.exercise.exerciseTool">Exercise Tool</span></dt>
        <dd>
          <span *ngFor="let exerciseTool of exercise.exerciseTools; let last = last">
            <a [routerLink]="['/exercise-tool', exerciseTool?.id, 'view']">{{ exerciseTool.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/exercise', exercise.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
