<div>
  <h2 id="page-heading" data-cy="ExerciseHeading">
    <span jhiTranslate="powerTrainerApp.exercise.home.title">Exercises</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="powerTrainerApp.exercise.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-exercise"
        [routerLink]="['/exercise/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="powerTrainerApp.exercise.home.createLabel"> Create a new Exercise </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="exercises?.length === 0">
    <span jhiTranslate="powerTrainerApp.exercise.home.notFound">No exercises found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="exercises && exercises.length > 0">
    <table class="table table-hover" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="uuid">
            <span jhiTranslate="powerTrainerApp.exercise.uuid">Uuid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="image">
            <span jhiTranslate="powerTrainerApp.exercise.image">Image</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="powerTrainerApp.exercise.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <!--          <th scope="col" jhiSortBy="description">-->
          <!--            <span jhiTranslate="powerTrainerApp.exercise.description">Description</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <th scope="col" jhiSortBy="valueType">
            <span jhiTranslate="powerTrainerApp.exercise.valueType">Value Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="owner">
            <span jhiTranslate="powerTrainerApp.exercise.owner">Owner</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exercise of exercises; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/exercise', exercise.id, 'view']">{{ exercise.id }}</a>
          </td>
          <td>{{ exercise.uuid }}</td>
          <td>
            <a *ngIf="exercise.image" (click)="openFile(exercise.image, exercise.imageContentType)">
              <img
                [src]="'data:' + exercise.imageContentType + ';base64,' + exercise.image"
                style="max-height: 30px"
                alt="exercise image"
              />
            </a>
          </td>
          <td>
            <ng-expandable-area [title]="exercise.name || ''" [opened]="false">
              <markdown>{{ exercise.description }}</markdown>
            </ng-expandable-area>
          </td>
          <!--          <td>-->
          <!--            -->
          <!--          </td>-->
          <td style="vertical-align: middle" jhiTranslate="{{ 'powerTrainerApp.ValueType.' + exercise.valueType }}">
            {{ exercise.valueType }}
          </td>
          <td style="vertical-align: middle">{{ exercise.owner }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/exercise', exercise.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/exercise', exercise.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(exercise)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="exercises && exercises.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
