<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-workout-sheet-exercise-heading"
        data-cy="WorkoutSheetExerciseCreateUpdateHeading"
        jhiTranslate="powerTrainerApp.workoutSheetExercise.home.createOrEditLabel"
      >
        Create or edit a Workout Sheet Exercise
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="powerTrainerApp.workoutSheetExercise.uuid" for="field_uuid">Uuid</label>
          <input type="text" class="form-control" name="uuid" id="field_uuid" data-cy="uuid" formControlName="uuid" />
          <div *ngIf="editForm.get('uuid')!.invalid && (editForm.get('uuid')!.dirty || editForm.get('uuid')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('uuid')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="powerTrainerApp.workoutSheetExercise.order" for="field_order">Order</label>
          <input type="number" class="form-control" name="order" id="field_order" data-cy="order" formControlName="order" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="powerTrainerApp.workoutSheetExercise.repetition" for="field_repetition"
            >Repetition</label
          >
          <input
            type="number"
            class="form-control"
            name="repetition"
            id="field_repetition"
            data-cy="repetition"
            formControlName="repetition"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="powerTrainerApp.workoutSheetExercise.value" for="field_value">Value</label>
          <input type="number" class="form-control" name="value" id="field_value" data-cy="value" formControlName="value" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="powerTrainerApp.workoutSheetExercise.valueType" for="field_valueType"
            >Value Type</label
          >
          <select class="form-control" name="valueType" formControlName="valueType" id="field_valueType" data-cy="valueType">
            <option [ngValue]="null">{{ 'powerTrainerApp.ValueType.null' | translate }}</option>
            <option value="DURATION">{{ 'powerTrainerApp.ValueType.DURATION' | translate }}</option>
            <option value="WEIGHT">{{ 'powerTrainerApp.ValueType.WEIGHT' | translate }}</option>
            <option value="DISTANCE">{{ 'powerTrainerApp.ValueType.DISTANCE' | translate }}</option>
            <option value="REPETITIONS">{{ 'powerTrainerApp.ValueType.REPETITIONS' | translate }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
