<div>
  <h2 id="page-heading" data-cy="WorkoutStepHeading">
    <span jhiTranslate="powerTrainerApp.workoutStep.home.title">Workout Steps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="powerTrainerApp.workoutStep.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-workout-step"
        [routerLink]="['/workout-step/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="powerTrainerApp.workoutStep.home.createLabel"> Create a new Workout Step </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="workoutSteps?.length === 0">
    <span jhiTranslate="powerTrainerApp.workoutStep.home.notFound">No workoutSteps found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="workoutSteps && workoutSteps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="uuid">
            <span jhiTranslate="powerTrainerApp.workoutStep.uuid">Uuid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="order">
            <span jhiTranslate="powerTrainerApp.workoutStep.order">Order</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="value">
            <span jhiTranslate="powerTrainerApp.workoutStep.value">Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="valueType">
            <span jhiTranslate="powerTrainerApp.workoutStep.valueType">Value Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="executionTime">
            <span jhiTranslate="powerTrainerApp.workoutStep.executionTime">Execution Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="type">
            <span jhiTranslate="powerTrainerApp.workoutStep.type">Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="powerTrainerApp.workoutStep.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workoutStep of workoutSteps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/workout-step', workoutStep.id, 'view']">{{ workoutStep.id }}</a>
          </td>
          <td>{{ workoutStep.uuid }}</td>
          <td>{{ workoutStep.order }}</td>
          <td>{{ workoutStep.value }}</td>
          <td jhiTranslate="{{ 'powerTrainerApp.ValueType.' + workoutStep.valueType }}">{{ workoutStep.valueType }}</td>
          <td>{{ workoutStep.executionTime }}</td>
          <td jhiTranslate="{{ 'powerTrainerApp.WorkoutStepType.' + workoutStep.type }}">{{ workoutStep.type }}</td>
          <td jhiTranslate="{{ 'powerTrainerApp.WorkoutStatus.' + workoutStep.status }}">{{ workoutStep.status }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/workout-step', workoutStep.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/workout-step', workoutStep.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(workoutStep)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="workoutSteps && workoutSteps.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
