<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="exerciseTool">
      <h2 data-cy="exerciseToolDetailsHeading"><span jhiTranslate="powerTrainerApp.exerciseTool.detail.title">Exercise Tool</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ exerciseTool.id }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.exerciseTool.uuid">Uuid</span></dt>
        <dd>
          <span>{{ exerciseTool.uuid }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.exerciseTool.image">Image</span></dt>
        <dd>
          <div *ngIf="exerciseTool.image">
            <a (click)="openFile(exerciseTool.image, exerciseTool.imageContentType)">
              <img
                [src]="'data:' + exerciseTool.imageContentType + ';base64,' + exerciseTool.image"
                style="max-width: 100%"
                alt="exerciseTool image"
              />
            </a>
            {{ exerciseTool.imageContentType }}, {{ byteSize(exerciseTool.image) }}
          </div>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.exerciseTool.name">Name</span></dt>
        <dd>
          <span>{{ exerciseTool.name }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.exerciseTool.description">Description</span></dt>
        <dd>
          <span>{{ exerciseTool.description }}</span>
        </dd>
        <dt><span jhiTranslate="powerTrainerApp.exerciseTool.exercise">Exercise</span></dt>
        <dd>
          <div *ngIf="exerciseTool.exercise">
            <a [routerLink]="['/exercise', exerciseTool.exercise?.id, 'view']">{{ exerciseTool.exercise?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/exercise-tool', exerciseTool.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
